/**
 * boutons.css
 * @author Frédéric Bolduc
 ****************************/

.pisCa {
	background-color:#ededed;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding: 5px 10px;
	text-decoration:none;
	text-shadow:1px 1px 1px #ffffff;
}.pisCa:hover {
	background-color:#dfdfdf;
}.pisCa:active {
	position:relative;
	top:1px;
}

.jtrippe {
	background-color:#00da3e;
	border:2px solid #00da3e;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:20px 65px;
	text-decoration:none;
	text-shadow:1px 1px 1px #525252;
	margin-bottom: 6px;
}.jtrippe:hover {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00992b), color-stop(1, #00da3e) );
	background:-moz-linear-gradient( center top, #00992b 5%, #00da3e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00992b', endColorstr='#00da3e');*/
	background-color:#00992b;
}.jtrippe:active {
	position:relative;
	top:1px;
}

.paspire {
	background-color:#cdcd00;
	border:2px solid #d5d900;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:20px 68px;
	text-decoration:none;
	text-shadow:1px 1px 1px #525252;
	margin-bottom: 6px;
}.paspire:hover {
	background-color:#b0b046;
}.paspire:active {
	position:relative;
	top:1px;
}

.bofouin {
	background-color:#eb0000;
	border:2px solid #d48e8e;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:20px 92px;
	text-decoration:none;
	text-shadow:1px 1px 1px #525252;
}.bofouin:hover {
	background-color:#7a2424;
}.bofouin:active {
	position:relative;
	top:1px;
}