/**
 * jukevox_style.css
 * @author Frédéric Bolduc
 *********************/

/* STRUCTURE DE BASE */
body {
	background: url('/images/subtle_dots.png') center;
}

h1 {
	float: left;
	text-indent: -9000em;
}

#wrap_header {
	background: url('/images/stressed_linen.png') center;
}

#header {
	width: 960px;
	height: 130px;
	margin: auto;
	
}

#wrap_corps {
	/*background-color: gray; */	
}

#corps {
	width: 960px;
	min-height: 500px;
	margin: 20px auto 0 auto;
	/* background-color: white; */
}

#feedback_top {
	background-color: #1AB81F;
	width: 960px;
	text-align: center;
	margin: 0 10px 20px 10px;
	padding: 20px;
	font-family = 'Montserrat', sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	color: #fff;
}

/* HEADER 
 ************/
#logo {
	margin: auto;
	width: 340px;
	height: 130px;
	background: url('/images/logo.png') no-repeat;
}

/* COLONNE DE GAUCHE
 ***********************/
#col_gauche {
	float: left;
	margin: 0 10px;
	width: 220px;
	min-height: 500px;
	/* background-color: #ccc; */
}

#waiting_for_opponent img {
	position: relative;
	top: 6px;
}

#wrapper_toi {
	height: 45.8em;
}

#toi {
	font-size: 1.4em;
	font-family: 'Montserrat', sans-serif;
}
	
#toi_photo {
	margin-left: auto;
	border: 1px solid black;
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

#toi_nom {
	display: inline-block;
	font-size: 1.4em;
	font-weight: bold;
	padding-bottom: 5px;
}

#toi_jukes, #moi_jukes {
	font-weight: bold;
}

#toi_id {
	visibility: hidden;
}

#moi {
	padding-top: 2.7em;
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	text-align: right;
}

#moi_photo {
	float: right;
	width: 58px;
	height: 58px;
	border: 1px solid black;
	margin-left: 20px;
}

#moi_nom {
	font-size: 1.3em;
	font-weight: bold;
	display: inline-block;
	padding-bottom: 5px;
}

#lnk_logout {
	display: inline-block;
	padding-top: 4px;
}

/* COLONNE DU CENTRE
 ********************/
#col_centre {
	float: left;
	margin: 0 10px;
	width: 460px;
	min-height: 500px;
	/* background-color: #bbb; */
}

#thumb_album {
	border: 1px solid black;
	width: 458px;
	height: 458px;
	
	margin-bottom: 4em;
}

#txt_suggestion {
	width: 303px;
	border: 1px solid #888;
	height: 30px;
	padding: 0 5px;
	font-size: 1.2em;
}

#coming_up_next {
	font-size: 1.2em;
	color: #666;
	display: inline-block;
	padding: 8px 0 0 8px;
}

#coming_up_next span {
	font-weight: bold;
}

.cloud {
	visibility: hidden;
}

/* COLONNE DE DROITE
 ********************/
#col_droite {
	float: left;
	margin: 0 10px;
	width: 220px;
	min-height: 500px;
	/* background-color: #ccc; */
}

#infos_morceau {
	height: 25em;
	font-family: 'Montserrat', sans-serif;	
}

#titre_morceau {
	font-size: 1.8em;
	display: inline-block;
	padding-bottom: 5px;
}

#artiste_morceau {
	font-size: 1.4em;
	font-weight: bold;	
	display: inline-block;
	padding-bottom: 5px;
}

#album_morceau {
	font-size: 1.2em;
}

#prochain_voxeur {
	float: right;
	font-size: 1.4em;
	padding-top: 10px;
	color: #09F;
}

/* PAGE DE LOGIN
 ******************/
#frm_login {
	width: 520px;
	margin: 100px auto;
}

#frm_login label {
	display: inline-block;
	width: 520px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	color: #444;
	padding-bottom: 30px;
}

#frm_login label img {
	position: relative;
	top: 4px;
}

#txt_username {
	width: 496px;
	padding: 10px;
	font-size: 1.8em;
	text-align: center;
	margin: auto;
	color: #888;
	margin-bottom: 30px;
}

#btn_login {
	display: none;
}

#lnk_login:link, #lnk_login:visited {
	display: block;
	width: 500px;
	text-align: center;
	text-decoration: none;
	font-size: 1.8em;
	padding: 15px 10px;
	background-color: #2B89ED;
	color: white;
}

#lnk_login:hover, #lnk_login:active {
	background-color: #2D76C4;
}