
  	<div id="feedback_top"></div>
    <div id="col_gauche">
      <div id="toi">
        <div id="toi_photo"></div>
        <span id="toi_nom">[Ton nom]</span><br>
        Jukes: <span id="toi_jukes">[#]</span>
      </div>

      <div id="moi">
        <div id="moi_photo"><img src="//<%=session[:current_user].image_url %>" /></div>
        <span id="moi_nom"><%= session[:current_user].username %></span><br>
        Jukes: <span id="moi_jukes"><%= session[:current_user].jukes %></span>
      </div>
    </div>

    <div id="col_centre">
      <img id="thumb_album"></img>

      <form name="frmSuggerer" method="post" action="#">
        <input type="text" id="txt_suggestion" name="suggestion" required placeholder="Suggérer un morceau...">
        <input type="hidden" id="hid_key_morceau" name="key" required>
        <input type="submit" id="btn_pis_ca" class="pisCa" name="pisCa" value="Pis ça?">
      </form>
      <span id="feedback_formulaire"></span>
    </div>

    <div id="col_droite">
      <div id="infos_morceau">
        <span id="titre_morceau">[Titre morceau beacoup trop long]</span><br>
        <span id="artiste_morceau">[Artiste]</span><br>
        <span id="album_morceau">[Album]</span>
      </div>

      <div id="vox">
        <a href="#" class="jtrippe">J'trippe!</a>
        <a href="#" class="paspire">Pas pire pas pire</a>
        <a href="#" class="bofouin">Bof ouin</a>
      </div>

      <a href="#" id="prochain_voxeur">prochain voxeur ></a>
    </div>
    
    <div id="apiswf"></div>
  
  <script type="text/javascript">
    var user = <%= session[:current_user].to_json.html_safe %>;
    $(setupJukevox("http://jpbougie.com:9191"));
  </script>


