<div id="wrap_header">
  <div id="header">
    <h1>Jukevox</h1>
    <div id="logo"></div>
  </div>
</div>
<div id="log">
</div>

<div id="wrap_corps">
  <div id="corps">
    <div id="col_gauche">
      <div id="toi">
        <div id="toi_photo"></div>
        <span id="toi_nom">[Ton nom]</span><br>
        Jukes: <span id="toi_jukes">[#]</span>
      </div>

      <div id="moi">
        <div id="moi_photo"></div>
        <span id="moi_nom">[Mon nom]</span><br>
        Jukes: <span id="moi_jukes">[#]</span>
      </div>
    </div>

    <div id="col_centre">
      <div id="thumb_album"></div>

      <form name="frmSuggerer" method="post" action="#">
        <input type="text" id="txt_suggestion" name="suggestion" required placeholder="Suggérer un morceau...">
        <input type="submit" id="btn_pis_ca" class="pisCa" name="pisCa" value="Pis ça?">
      </form>
    </div>

    <div id="col_droite">
      <div id="infos_morceau">
        <span id="titre_morceau">[Titre morceau beacoup trop long]</span><br>
        <span id="artiste_morceau">[Artiste]</span>
      </div>

      <div id="vox">
        <a href="#" class="jtrippe">J'trippe!</a>
        <a href="#" class="paspire">Pas pire pas pire</a>
        <a href="#" class="bofouin">Bof ouin</a>
      </div>

      <a href="#" id="prochain_voxeur">prochain voxeur ></a>
    </div>
  </div>
</div>
<script>
var user = {token: Math.floor(Math.random() * 100000), name: "JP" + Math.floor(Math.random() * 100)};
$(setupJukevox);
</script>