<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Jukevox</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<script src="//jpbougie.com:9191/socket.io/socket.io.js"></script>
<%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
</body>
</html>
