<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Jukevox</title>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<script src="//jpbougie.com:9191/socket.io/socket.io.js"></script>
<%= csrf_meta_tags %>
</head>

<body>
	<div id="wrap_header">
		<div id="header">
			<h1>Jukevox</h1>
    		<div id="logo"></div>
  		</div>
	</div>
	<div id="log"></div>

	<div id="wrap_corps">
		<div id="corps">
			<%= yield %>
		</div>
	</div>
</body>
</html>
